<html>
	<head></head>
	<body>
		<section name="form">
        <h2>Add Schedule</h2>
        <form id="form" method="POST" action="{% url 'sched:submit' %}">
            {% csrf_token %}
            {{ schedule_form.as_p }}
            <br>
            <button type="submit" style="padding:15px 32px;text-align: center;" value="Submit">Submit</button><br>
            <button type="submit" style="padding:15px 32px;text-align: center;" formaction="show" value="Show">Show</button>
        </form>
    	</section>


	</body>
</html>