<html>
	<head></head>
	<body>
		<div class = "container">
            <div class="row" style="margin: 20%; position: absolute; left: 15%;">
                <table class ="table">
                    <thead>
                        <th>Hari</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>Kategori</th>
                    </thead>
                    <tbody>
                        {% for i in schedule %}
                        <tr>
                            <td>{{i.hari}}</td>
                            <td>{{i.waktu}}</td>
                            <td>{{i.nama_kegiatan}}</td>
                            <td>{{i.kategori}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
	</body>
</html>